body{
  overflow-x:hidden;
    margin: 0;
}
#bg{
  object-position: center;
}




/*body*/
.bcontent{
  padding-left: 10px;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
}
#bcontent1{
  padding-left:20px;
  width:550px;
  font-size: 22px;
}
#bcontent2{
  margin-top: 20px;
  line-height: 28px;
  text-indent: 20px;
  width:900px;
  font-size:20px;
  margin-right: 20px;
  width: 800px;
}
.bcontentone{
  padding-left:20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap:150px;
  margin:20px;
}
.bcontentone1 p{
  font-size: 22px;
  text-indent: 20px;
}
.bcontentone1 h1{
  font-size: 40px;  
}
.bcontentone2 img {
  height: 500px;
  padding-right:40px;
}
.bcontenttwo{
  margin-top:70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:40px;
  margin-bottom: 50px;
}
.bcontenttwo img{
  padding-left:40px;
  height:340px;
}
.bcontenttwo #explore{
 width: 800px;
 margin-top: -40px;
 padding-left: 20px;
}
#explore h1{
  font-size: 40px;
}
#explore p{
 text-indent: 20px;
 font-size: 22px;

}
#explore #booknow{
  background-color: blue;
  color:white;
  border: none;
  border-radius: 8px;
  box-shadow:  3px 3px 5px black;
  padding:10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 22px;
  cursor: pointer;
  font-family:serif;

}
#explore #booknow:hover{
  background-color: hsl(240, 100%, 60%);
  
}

/*timeline*/
.timeline-title{
  margin-top: 80px;
  text-align: center;
}
.timeline-title h1{
  font-size: 50px;
}
.timeline-title h3{
  font-size: 35px;
}
strong{
  font-size: 40px;
  font-family:serif;
}

.timeline{
  margin: 10px;
  margin-left: 30px;
  background-color: hsl(0, 0%, 90%);
  padding: 20px 10px;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap:80px;
  overflow: auto;
  overflow-y: hidden;
  scrollbar-width: 0px;
}

.top-timeline{
  display: flex;
  gap:50px;
}
.timeline::-webkit-scrollbar { 
    display: none; 
}
.bottom-timeline{
  display: flex;
  gap:50px;
}
.container{
  position: relative;
  padding:10px;
  height: 5%;
}
.top-container img{
  height: 300px;
  width: 350px;
  border-radius:6px;

}
.textbox{
  position: relative;
  padding: 12px 30px;
  height:280px;
  width:300px;
  background-color: white;
  border-radius:6px;
  font-size: 22px;
  line-height: 25px;
}

.timeline::after{
  content:'';
  position: absolute;
  width: 6px;
  height:5px;
  width:223%;
  background-color:black;
  top:50%;
  left:0;
  margin-left:40px;
  z-index:200;
  border-radius: 80%;
}
.top-container-arrow{
  height:0;
  width: 0;
  z-index:1px;
  position:absolute;
  bottom:-15px;
  border-left:15px solid transparent;
  border-right:15px solid transparent;
  border-top:15px solid rgb(255, 255, 255);
  right:10px;
}
.bottom-container-arrow{
  height:0;
  width: 0;
  z-index:1px;
  position:absolute;
  top:-14px;
  border-left:15px solid transparent;
  border-right:15px solid transparent;
  border-bottom:15px solid white;
  right:10px;
}
