/*header*/
#bg{
  object-position: center;
}


form{
  font-family: Arial, sans-serif;
  font-size: 20px;

}


/*booking form*/
.title{
  text-align: center;
}
.booking-form{
  margin:30px 0px;
}

.booking{
  width: 40%;
  border: 1px  solid black;
  border-radius: 10px;
  margin: auto;
  padding:20px 80px ;
}

.personDetails h1{
  margin-top: 40px;
  font-size:25px;
}

input {
  margin-top:15px;
  margin-bottom:40px;
  padding: 12px;
  font-size: 18px;
  color: #333;
  background: #f9f9f9;
  border: 2px solid #ddd;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s;
}
 
input:focus {
  border-color: #205963;
}

#name, #email, #phone, #noOfPerson,.nameGroup, #age, #firstName, #lastName{
  width: 96%;
}
#name{
  margin-left:-2px;
  color:rgb(51, 51, 51);
}

.label{
  color:rgb(51, 51, 51);
}
select{
  width: 100%;
  padding:10px 20px;
  font-size: 18px;
  margin-bottom:40px;
  margin-top:15px;
}

.formButton  {
  width: 100%;
  padding: 14px;
  margin:auto;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color:black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.formButton:hover{
  box-shadow: 5px 5px 5px  gray;
}
.package{
  margin-top:10px;
  margin-bottom:20px;
  display: flex;
  justify-content: space-between;
}

.genderOption{
  display: flex; 
  width: 100%;
  column-gap: 40px;
}
.personDetailsButton{
  margin-bottom: 30px;
}