*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Dosis";

}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(src/pexels-ahmedmuntasir-912050.jpg);
  background-size: cover;
  background-position: center;
}

.whole{
  width: 400px;
  background-color:transparent;
  color: white;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(2px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 30px 40px;
}

.whole h1{
  font-family:  sans-serif;
  font-size: 45px;
  text-align: center;
  text-shadow: 3px 2px 2px black;
}

.whole .inputbox{
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.inputbox input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 18px;
  color: white;
  padding: 20px 45px 20px 20px;
}

.inputbox input::placeholder{
  color: white;
}


.inputbox svg{
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}


.btn{
  width: 100%;
  height: 45px;
  background-color: white;
  border: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-size: 24px;
  color: black;
  font-weight: 600;
}

.register{
  font-size: 17px;
  text-align: center;
  margin: 20px 0 15px;
  
}

.register p a{
  color:blue;
  text-decoration: none;
  font-weight: 600;
  margin: 0 5px;

}

.register a:hover{
  text-decoration: underline;
}

.home{
  text-align: center;
  text-decoration: none;
  color:white;
}

.home p:hover{
  text-decoration: underline;
}