.body{
  display: flex;
  flex-direction: row;
  font-family: Arial, sans-serif;
  font-size: 20px;
  position: relative;
}
.bodyleft{
  max-width:58%;
  padding:3% 5%;
  border: 1px solid rgb(189, 189, 189);
}
.pageTitle{
  margin: 0px;
}

/*payment option */
.payment-option-group{
  display: flex;
  justify-content: center;
}
.input-container{
  position:relative;
  height:6rem;
  width: 400PX;
  margin: 1.8rem ; 
}

.input-container input{
  position:absolute;
  height: 100%;
  width: 100%;
  cursor:pointer;
  z-index: 2;
  opacity: 0;
}

.input-container .radio-title{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:20px;
  justify-content: center;
  height:100%;
  border: 2px solid black;
  border-radius: 8px;
  transition: all 300ms ease;
}
.input-container ion-icon{
  color:black;
  font-size: 2.5rem;
}
.input-container label{
  font-size: 24px;
}

input:checked  + .radio-title{ /*when radio is clicked total container changes*/
  background-color: black;
  border:none;
}
input:checked  + .radio-title ion-icon, input:checked  + .radio-title label{
 color:white;
}





/*payment box*/
.payment-box{
  display: flex;
 justify-content: center;
}

.payment-container {
  width: 100%;
  max-width: 800px;
  background: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);

}

h2 {
  color: #333;
  margin: 5px 0px;
  font-weight: 600;
}

.subtitle {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.form-group, .form-group-inline {
  margin-bottom: 20px;
}
.form-group-inline {
  display: flex;
  width: 98%;
  gap: 25px;
}
label {
  display: block;
  font-size: 14px;
  color: #444;
  margin-bottom: 5px;
  font-weight: 500;
}

input {
  width: 95%;
  padding: 12px;
  font-size: 18px;
  color: #333;
  background: #f9f9f9;
  border: 2px solid #ddd;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s;
}

input:focus {
  border-color: #205963;
}



button {
  width: 100%;
  padding: 14px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color:black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}


.bodyRight{
  position: fixed;
  right:0;
  padding: 2% 1%;
  padding-bottom:5%;
  width: 30%;
  border: 1px solid rgb(189, 189, 189);
  min-height: 490px;
}
.summary-text{
  color: gray;
  font-size: 18px;
}
span{
  display: flex;
  justify-content: end;
}

/*payment Status*/
.paymentSucess{
  position:absolute;
  top:14%;
  left:15%;
  width: 350px;
  height:500px;
  background-color: white;
  color:black;
  padding:20px 50px;
  border-radius: 8px;
  box-shadow: 5px 5px 10px black;
}
.statusImg{
  display: flex;
  padding: 40px 0px;
  margin: auto;
  width: 160px;
}
.statusText{
  text-align: center;
}
.statusSubText{
  padding:10px 0px;
  text-align: center;
}
.backButton{
  letter-spacing:3px ;
  word-spacing: 6px;
  padding-top:20px;
  background: linear-gradient(to right, rgb(88, 218, 88), rgb(24, 188, 24));
}
.backButton:hover{
  background: linear-gradient(to right, hsl(120, 74%, 60%), hsl(120, 87%, 42%));
}
.tryAgainButton{
  letter-spacing:3px ;
  word-spacing: 6px;
  padding-top:20px;
  background: linear-gradient(to right, hsl(0, 83%, 58%),hsl(0, 99%, 45%));

  transition: all 0.3s;
}
.tryAgainButton:hover{
  background: linear-gradient(to right, hsl(0, 93%, 58%),hsl(0, 100%, 45%));
 
}




@media  only screen and (max-width:1040px){
  .input-container{
    position:relative;
    height:6rem;
    width: 400PX;
    margin: 2rem 0.5rem  ; 
  }
    
} 
@media  only screen and (max-width:742px){
  .form-group-inline {
    flex-direction: column;
    gap: 2px;
  }
    
} 
@media  only screen and (max-width:580px){
  .bodyRight{
    display: none;
  }
  .bodyleft{
    max-width: 100%;
    border: none;
  }
  .paymentSucess{
    position:absolute;
    top:14%;
    left:20%;
    width: 280px;
    height:500px;
    padding:0px 40px;
  }
}
@media  only screen and (max-width:500px){
  .bodyRight{
    display: none;
  }
  .bodyleft{
    max-width: 100%;
    border: none;
  }
  .paymentSucess{
    position:absolute;
    top:14%;
    left:8%;
    width: 280px;
    height:500px;
    padding:0px 40px;
  }
}



