
.our-package{
  margin-top:50px;
  text-align: center;
}
.package{
  margin:50px;
  margin-left:auto;
  margin-right:auto;
  background-color:hsl(0, 0%, 98%);
  border-radius: 10px;
  display: flex;
  width:61%;
  height:270px;
  font-size:18px;
}
.package-img img{
  width:350px;
  height:270px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.package-details{
  padding:0 15px;
  width: 520px;
}

.icon{
  height: 22px;
  margin-bottom:-5px;
}

.details{
  display: flex;
  justify-content: space-evenly;
}
.package-price{
  padding-left:20px;
  background-color: hsl(238, 100%, 73%);
  color:white;
  min-width:135px;
  width:150px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top:20px;
}
.book-btn{
  border:2px white solid;
  background-color: transparent;
  color:white;
  cursor:pointer;
  padding:10px;
  border-radius: 30px;
  font-size: 17px;
  font-family:poppins;
  font-weight:bolder;
}
.book-btn:hover{
  background-color: hsl(238, 100%, 78%);
}

@media only screen and (max-width: 1200px){
  .package{
    width:80%;}
  .package-img img{
    width:300px;
    height:270px;
  }
  .package-details{
    padding:0 5px;
  }
  .package-price{
    padding-left:5px;
  }
}
@media only screen and (max-width: 1065px){
.package{
  width:90%;
  height:270px;
}
}
@media only screen and (max-width: 870px){
  .package{
    width:98%;
    height:290px;

  }
  .package-img img{
    width:200px;
    height:290px;
  }
  .text{
    display: none;
  }
  }

@media only screen and (max-width: 570px){
    .package{
      flex-direction: column;
      width:70%;
      height: inherit;
    }
    .package-img img{
      width: 100%;
      height: 170px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 0px;
    }
    .package-details{
      margin-top: -5px;
      padding:0 5px;
      width: 96.8%;
    }
    .package-price{
      padding-left:5px;
      width: 98%;
      text-align: center;
      padding-top:0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 10px;
    }
    .details{
      width: 100%;
    }
    .package-details h1{
      margin-top:2px;
    }
    .price{
      margin:-10px 0px;
    }
    .book-btn{
      margin-bottom: 10px;
    }
  }