.photogallery{
  margin: 10px 3%;
  columns:3 200px;
  column-gap: 2px;
  padding:2%;
  background-color: rgb(236, 236, 236);
  border-radius: 8px;
}
.photogalleryimg{
  width: min(400px, 100%);
  margin-bottom: 0.5em;
  border-radius: 10px;
} 

.photogalleryh3{
  text-align: center;
  font-size: 25px;
  font-weight: 400;
  text-transform: uppercase;
}
.photogallerysub{
  text-align: center;
  font-size: 45px;
  text-transform: uppercase;
}

