.body{
  font-family: Arial, sans-serif;
  font-size: 20px;
}

.title{
  text-align: center;
}



/*payment box*/
.payment-box{
  display: flex;
 justify-content: center;
}

.payment-container {
  width: 100%;
  max-width: 800px;
  background: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);

}

h2 {
  color: #333;
  margin: 5px 0px;
  font-weight: 600;
}

.subtitle {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.form-group, .form-group-inline {
  margin-bottom: 20px;
}
.form-group-inline {
  display: flex;
  width: 98%;
  gap: 25px;
}

label {
  display: block;
  font-size: 14px;
  color: #444;
  margin-bottom: 5px;
  font-weight: 500;
}

input {
  width: 50%;
  padding: 12px;
  font-size: 18px;
  color: #333;
  background: #f9f9f9;
  border: 2px solid #ddd;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s;
}
.package{
  margin-top: 20px;
}
.package input{
  width:100px;
} 
input:focus {
  border-color: #205963;
}



button {
  width: 100%;
  padding: 14px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color:black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}




.package{
  display: flex;
}

.nameGroup{
  display: flex;
}
.genderOption{
  display: flex;

}